@import url("https://fonts.googleapis.com/css2?family=Inter&family=Rajdhani:wght@700&family=Rubik:wght@600&display=swap");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.register-container {
	width: 23.022%;
	height: 69%;
}
.register-container > form {
	margin: 10px 0 5px 0;
}

.register-container > h2 {
	font-family: "Rubik", sans-serif;
	font-weight: 600;
	color: white;
	font-size: 38px;
	margin: 10px 0;
}
.register-container > form .input-fields > input {
	font-size: 15px;
	padding: 0 15px;
	width: 100%;
	margin: 10px 0;
	height: 40px;
	border-radius: 5px;
	border: 1px solid white;
	background-color: transparent;
	color: white;
	outline: none;
}

.register-container > form .submit-btn > input {
	margin: 10px 0 0 0;
	font-size: 15px;
	font-weight: 600;
	width: 100%;
	height: 37px;
	border-radius: 5px;
	border: none;
	background-color: #eb4d45;
}
.register-container > form .submit-btn > input :active {
	transform: scale(1.2);
	transition: 0.5s;
}

.register-container .tosignin {
	width: 70%;
	margin: 10px auto;
}
.register-container .tosignin > h4 {
	font-family: "Inter", sans-serif;
	font-weight: 400;
	font-size: 14px;
	color: white;
}

.register-as-div {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 50px;
}

select {
	font-size: 15px;
	padding: 0 15px;
	width: 100%;
	margin: 10px 0;
	height: 38px;
	border-radius: 5px;
	border: 1px solid white;
	background-color: transparent;
	color: rgb(165, 164, 164);
	outline: none;
}

.select-items {
	position: absolute;
	background-color: transparent;
	top: 100%;
	left: 0;
	right: 0;
	z-index: 99;
}

/* For Mobile  */
@media (max-width: 640px) {
	.body-container {
		flex-direction: column;
	}

	.register-container {
		width: 90%;
		height: 65%;
		margin-top: 30px;
	}
	.register-container > form .input-fields > input {
		margin: 12px 0;
	}
	.register-container > form .submit-btn > input {
		margin: 12px 0 0 0;
	}
	.heading-container {
		width: 90%;
		position: relative;
		bottom: 10%;
	}
	.heading-container > h1 {
		font-size: 40px;
	}
	#icon1 {
		display: none;
	}
	#icon2 {
		display: none;
	}
}

#link {
	cursor: pointer;
	color: white;
}
#link:hover {
	color: #e67f79;
}

.icons {
	position: absolute;

	color: rgb(138, 138, 138);
	left: 455px;
}
#icon1 {
	top: 316px;
}
#icon2 {
	top: 376px;
}
