.main-home {
	width: 100vw;
	height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	background-image: url("../../images/home.jpg");
}

.heading-div {
	margin-left: 150px;
	width: 35%;
	height: 62%;
}

.heading-div > h1 {
	font-size: 50px;
	font-weight: 600;
	margin: 0px 0 15px 0;
}
.heading-div > p {
	font-size: 25px;
}
.heading-div > .btn-div {
	width: 70%;
	margin: 20px 0 0 0;
	display: flex;
	justify-content: space-between;
}
.heading-div > .btn-div > button {
	padding: 10px 25px;
	background-color: #769fcd;
	color: white;
	border-radius: 5px;
}
