.nav-container {
	position: absolute;
	top: 0;
	width: 100vw;
	height: 80px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 50px;
}
.nav-container > img {
	width: 150px;
}

.nav-container > ul {
	margin-right: 40px;
	width: 16%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}
.nav-container > ul > li > a {
	font-size: 18px;
	font-weight: 600;
	color: white;
}

@media (max-width: 640px) {
	.nav-container > img {
		width: 120px;
	}
	.nav-container {
		padding: 0 20px;
		height: 80px;
	}
}
